<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        
        <div class="overlay">

            <div class="row-5">
                <div class="col-5">
                    <h2>Serhant</h2>

                    <p>High quality material produced by Serhant backed by support of our expert consultants to fulfill a whole range of applications in the market.</p>
                    
                </div>
                <div class="col-5">
                    <h5>Extra Links</h5>

                    <ul>
                        <li>Electrician</li>
                        <li>Engineer Home</li>
                        <li>HandyMan Home</li>
                        <li>Factory Home</li>
                    </ul>
                    
                </div>
                <div class="col-5">
                    <h5>Useful Links</h5>

                    <ul>
                        <li>About Us</li>
                        <li>Why Choose Us</li>
                        <li>Our Team</li>
                        <li>Careers</li>
                    </ul>
                    
                </div>
                <div class="col-5">
                    <h5>Contacts</h5>

                    <p><i class="fas fa-map"></i> 2307 Beverley Rd, New York</p>
                    <br>
                    
                    <p><i class="fas fa-phone"></i> + (0712) 819 79 555</p>
                    <br>
                    
                    <p><i class="fas fa-envelope"></i> serhant@support.com</p>
                    
                </div>
                
            </div>
            
        </div>
        
        
    </footer>

</body>
</html>