<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %> </title>
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"  crossorigin="anonymous" />
</head>
<body>
    <%- include('nav.ejs') %> 

    <div class="homeImg overlay">

        <div class="text">
            <h4>Serhant Construction Company
                <br>
                Highest Standard
                <br>
                of <span style="background-color: rgb(255, 255, 255, 0.6); border-radius: 20px;">Construction</span>
            </h4>
        </div>
    </div>


   
    
    <div class="container"> 
        <div class="sub-con"> 
            
            <section> 

                <h2> View our projects below, then get in touch with us<span>.</span></h2>

                <div class="project-img"> 
                    
                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/new-construction-site-with-tower-crane_33835-1076.jpg" alt="">
                    
                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/construction-site_53876-14088.jpg" alt="">

                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/site-engineer-construction-site_53876-11031.jpg" alt="">

                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/working-hard-building-man-construction-worker_1122-1849.jpg">

                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/bricklayer-industrial-worker-installing-brick-masonry-with-trowel-putty-knife-construction-site_33835-1135.jpg" alt="">

                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/galery05.jpg" alt="">
                    
                </div>

                
            </section>

            <section> 

                <h2>We can service all of your construction <span>needs</span></h2>

                <div class="row-2">
                
                    <div class="col-2">
                        
                        <h2>4,358<span>.</span></h2>

                        <h6>Completed projects</h6>
                        
                    </div>

                    <div class="col-2">
                        
                        <h2>425<span>.</span></h2>

                        <h6>Work facilities</h6>
                    
                    </div>

                    <div class="col-2">
                        
                        <h2>30<span>.</span></h2>

                        <h6>Worldwide branches</h6>    
                        
                    </div>
                    
                </div>

                <div class="row-3">

                    <div class="col-3 col3-text"> 
                        <p class="aheto-cta__title">We're here to help you get started in the right direction with your project</p>
                    </div> 

                    <div class="col-3">
                        <button aria-label="Get a Quote for Your Business">Get a Quote for Your Business <i class="fas fa-arrow-right"></i></button> 
                    </div>    
                    
                </div>

            </section>


            <section> 
                <div style="background-image:url(https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/video-1-1024x682.jpg)" class="video">
                    <a href="https://www.youtube.com/watch?v=oW257zA7aUo" class="video-btn"><i class="fas fa-play"></i></a> 
                </div>    
            </section>

            <section> 

                <h2> Services<span>.</span></h2> 
                
                
                <div class="row-4">
                    
                    <div class="row-col">

                        <div class="col-4">

                            <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/to4no-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/to4no-100x100.png" data-ll-status="loaded">

                        </div>

                        <div class="col-4">
                            <h5>Accurate Measurements</h5>
                                <p> Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>
                    </div>  
                    
                    
                    <div class="row-col">

                        <div class="col-4">
                            <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/removatww-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/removatww-100x100.png" data-ll-status="loaded"> 
                        </div>

                        <div class="col-4">
                            <h5>Solid Waste Removal</h5>
                            <p>Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>
                    </div>

                    <div class="row-col">

                        <div class="col-4">
                            <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/services-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/services-100x100.png" data-ll-status="loaded"> 
                        </div>

                        <div class="col-4">
                            <h5>Warranty Service</h5>
                            <p>Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>
                    </div>
                
                </div>

    
            </section>

            <section> 
                
                <div class="row-4">
                
                    <div class="row-col">
                        <div class="col-4">
                             <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/plane-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/plane-100x100.png" data-ll-status="loaded">
                        </div>


                        <div class="col-4">
                            <h5>Project Planning</h5>
                            <p>Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>

                    </div>



                    <div class="row-col">
                        <div class="col-4">
                            <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/constant-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/constant-100x100.png" data-ll-status="loaded"> 
                        </div>

                        <div class="col-4">
                            <h5>Constant Maintenance</h5>
                            <p>Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>

                    </div>




                    <div class="row-col">

                        <div class="col-4">
                            <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/specialist-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/specialist-100x100.png" data-ll-status="loaded"> 
                        </div>

                        <div class="col-4">
                            <h5>Qualified Specialists</h5>
                            <p>Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>

                    </div>
                    
                </div>
                
            </section>

            
        
        </div>
    </div>

    <%- include('footer.ejs') %> 
    


</body>
</html>