<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %> </title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <%- include('nav.ejs') %> 

    <div class="homeImg"></div>

    <h1>Payroll Platform</h1>

    <% 
        if(my_session.loggedin == true){
    %> 
        <a href="/logout"><button type="submit" class="welUserLogout">Logout</button></a>
        
        <h3 class="welUser">Welcome <%= my_session.first_nm %></h3>       
     
    <%
        }
    %>
    
</body>
</html>