<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %> </title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <%- include('nav.ejs') %> 

    <div class="homeImg overlay">

        <div class="text">
            <h4>Serhant Construction Company
                <br>
                Highest Standard
                <br>
                of <span>Construction</span>
            </h4>
        </div>
    </div>


    <% 
        if(my_session.loggedin == true){
    %> 
        <a href="/logout"><button type="submit" class="welUserLogout">Logout</button></a>
        
        <h3 class="welUser">Welcome <%= my_session.first_nm %></h3>       
     
    <%
        }
    %>
    
    <div> 
        <div> 
            <section> 
                <h2> View our projects below, then get in touch with <span>us</span></h2>

                <div> 
                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/new-construction-site-with-tower-crane_33835-1076.jpg" alt="">
                    
                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/construction-site_53876-14088.jpg" alt="">

                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/site-engineer-construction-site_53876-11031.jpg" alt="">

                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/working-hard-building-man-construction-worker_1122-1849.jpg" >

                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/bricklayer-industrial-worker-installing-brick-masonry-with-trowel-putty-knife-construction-site_33835-1135.jpg" alt="">

                    <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/galery05.jpg" alt="">
                    
                </div>
            </section>
            <section> 

                <h2>We can service all of your construction <span>needs</span></h2>

                <h5>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h5>

                <div class="row">
                
                    <div class="col">
                        
                        <h2>4,358</h2>

                        <h6>Completed projects</h6>
                        
                    </div>
                    <div class="col">
                        
                        <h2>425</h2>

                        <h6>Work facilities</h6>
                    
                    </div>
                    <div class="col">
                        
                        <h2>30</h2>

                        <h6>Worldwide branches</h6>    
                        
                    </div>
                    
                </div>

                <div class="row2">

                    <div> <p class="aheto-cta__title">We're here to help you get started in the right direction with your project</p></div> 

                    <div>
                        <a href="https://n.foxdsgn.com/industryo/company/" class="aheto-btn aheto-btn--primary" target="_self" aria-label="Get a Quote for Your Business">Get a Quote for Your Business<i class="ion-arrow-right-c aheto-btn__icon--right"></i></a> 
                    </div>    
                    
                </div>

            </section>


            <section> 
                <div style="background-image:url(https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/video-1-1024x682.jpg)">
                    <a href="https://www.youtube.com/watch?v=oW257zA7aUo" class="js-video-btn aheto-btn-video aheto-btn--light aheto-btn-video--large "><i class="ion-ios-play"></i></a> 
                </div>    
            </section>

            <section> 

                <h2 class="aheto-heading__title"> <span class="moovit-dot dot-primary">Services</span></h2>
                
                <h5>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h5>   
                
                
                <div>
                    
                    <div class="aheto-content-block__info">

                        <div class="aheto-content-block__image">

                            <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/to4no-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/to4no-100x100.png" data-ll-status="loaded" class="entered lazyloaded">

                        </div>

                        <div class="aheto-content-block__info-wrap">
                            <h5 class="aheto-content-block__title">Accurate Measurements</h5>
                                <p class="aheto-content-block__info-text"> Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>
                    </div>  
                    
                    
                    <div class="aheto-content-block__info">

                        <div class="aheto-content-block__image">
                            <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/removatww-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/removatww-100x100.png" data-ll-status="loaded" class="entered lazyloaded"> 
                        </div>

                        <div class="aheto-content-block__info-wrap">
                            <h5 class="aheto-content-block__title">Solid Waste Removal</h5>
                            <p class="aheto-content-block__info-text">Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>
                    </div>

                    <div class="aheto-content-block__info">

                        <div class="aheto-content-block__image">
                            <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/services-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/services-100x100.png" data-ll-status="loaded" class="entered lazyloaded"> 
                        </div>

                        <div class="aheto-content-block__info-wrap">
                            <h5 class="aheto-content-block__title">Warranty Service</h5>
                            <p class="aheto-content-block__info-text">Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>
                    </div>
                
                </div>

    
            </section>

            <section> 
                
                <div>
                
                    <div class="aheto-content-block__info">
                        <div class="aheto-content-block__image">
                             <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/plane-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/plane-100x100.png" data-ll-status="loaded" class="entered lazyloaded">
                        </div>


                        <div class="aheto-content-block__info-wrap">
                            <h5 class="aheto-content-block__title">Project Planning</h5>
                            <p class="aheto-content-block__info-text">Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>

                    </div>



                    <div class="aheto-content-block__info">
                        <div class="aheto-content-block__image">
                            <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/constant-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/constant-100x100.png" data-ll-status="loaded" class="entered lazyloaded"> 
                        </div>

                        <div class="aheto-content-block__info-wrap">
                            <h5 class="aheto-content-block__title">Constant Maintenance</h5>
                            <p class="aheto-content-block__info-text">Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>

                    </div>




                    <div class="aheto-content-block__info">

                        <div class="aheto-content-block__image">
                            <img width="100" height="83" src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/specialist-100x100.png" alt="img icon" data-lazy-src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/specialist-100x100.png" data-ll-status="loaded" class="entered lazyloaded"> 
                        </div>

                        <div class="aheto-content-block__info-wrap">
                            <h5 class="aheto-content-block__title">Qualified Specialists</h5>
                            <p class="aheto-content-block__info-text">Lorem ipsum dolor sit ameet. Aenean commodo nec ligula eget dolor. </p>
                        </div>

                    </div>
                    
                </div>
                
            </section>


            <section> 
                
                <h2 class="aheto-heading__title">Our team <span class="moovit-dot dot-primary"></span></h2>    
                
                <h5 class="aheto-heading__title">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h5>

            </section>

            <section data-id="6b919b58" data-element_type="section">

                <div>
              
                    <div class="aheto-member aheto-member--classic aheto-member--border t-center">
                        
                        <div class="aheto-member__img-holder rocket-lazyload entered lazyloaded" data-ll-status="loaded">

                            <img src="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/galery02.jpg" alt="">
                            
                        </div>

                        <div>
                            <h5>Eloise Smith</h5><p class="aheto-member__position">CEO</p> </div>
                        </div>
                    </div>

                    <div>
                        <div class="aheto-member aheto-member--classic aheto-member--border t-center">
                            <div data-bg="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/construction-engineer-white-hard-hat-working-new-project_225094-35.jpg" style="background-image: url(&quot;https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/construction-engineer-white-hard-hat-working-new-project_225094-35.jpg&quot;);" data-ll-status="loaded">
                        </div>

                        <div class="aheto-member__text">
                            <h5 class="aheto-member__name">Eloise Smith</h5><p class="aheto-member__position">Worker</p> </div>
                        </div>
                    </div>

                    <div class="aheto-member__wrap">
                        <div class="aheto-member aheto-member--classic aheto-member--border t-center">
                            <div data-bg="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/person2.jpg" class="aheto-member__img-holder rocket-lazyload entered lazyloaded" style="background-image: url(&quot;https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/person2.jpg&quot;);" data-ll-status="loaded">
                        </div>

                        <div class="aheto-member__text">
                            <h5 class="aheto-member__name">Eloise Smith</h5><p class="aheto-member__position">Engineer</p> </div>
                        </div>
                    </div>

                    <div class="aheto-member__wrap">
                        <div class="aheto-member aheto-member--classic aheto-member--border t-center">
                            <div data-bg="https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/person3.jpg" class="aheto-member__img-holder rocket-lazyload entered lazyloaded" style="background-image: url(&quot;https://n.foxdsgn.com/industryo/wp-content/uploads/2020/07/person3.jpg&quot;);" data-ll-status="loaded">
                        </div>

                    <div class="aheto-member__text">
                        <h5 class="aheto-member__name">Eloise Smith</h5><p class="aheto-member__position">Designer</p> </div>
                    </div>
                </div>
            </section>

            <section> </section>
            <section> </section>
            <section> </section>
            <section> </section>
        </div>
    </div>

    


</body>
</html>